@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url("https://use.typekit.net/byv3ita.css");
@import "./styles/variables.css";
@import "./styles/mainPage.css";
@import "./styles/hero.css";
@import "./styles/cases.css";
@import "./styles/header.css";
@import "./styles/nav.css";
@import "./styles/arrow.css";
@import "./styles/play.css";
@import "./styles/footer.css";
@import "./styles/case.css";
@import "./styles/intro.css";
@import "./styles/summary.css";
@import "./styles/toc.css";
@import "./styles/switcher.css";
@import "./styles/contentSwitcher.css";
@import "./styles/metrics.css";

@import "./styles/cases/resale.css";
@import "./styles/cases/funnel.css";

@font-face {
  font-family: "DM Sans";
  src: url("./fonts/DMSans[opsz,wght].woff2") format("woff2");
  font-weight: 100 1000;
  font-style: normal;
}

@view-transition {
  navigation: auto;
}

/* html {
  view-transition-name: root;
} */

::view-transition-old(root) {
  animation: fadePageOut 0.5s ease-in;
}

::view-transition-new(root) {
  animation: fadePageIn 0.5s ease-out;
}

@keyframes fadePageIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fadePageOut {
  from { opacity: 1; }
  to { opacity: 0; }
}

body {
  margin: 0;
  font-family: var(--f-primary);
  font-optical-sizing: auto;
  font-feature-settings: "calt" 1, "liga" 1, "rlig" 1, "rvrn" 1, "kern" 1, "rclt" 1, "ss04" 1, "ss01" 1, "ss07" 1, "ss05" 1;
  -webkit-font-smoothing: antialiased;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
  color: var(--c-content);
}

canvas {
  display: block;
}

.my-text {
	font-feature-settings: "calt" 1, "liga" 1, "rlig" 1, "rvrn" 1, "kern" 1, "rclt" 1, "ss04" 1, "ss01" 1, "ss07" 1, "ss05" 1;
	font-variation-settings: "opsz" 9, "wght" 400;
}

.alt-font {
  font-family: var(--f-display-alt);
}

.bold {
  font-weight: 600;
}

.italic {
  font-style: italic;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

figure {
  margin: 0;
  padding: 0;
}