@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url("https://use.typekit.net/byv3ita.css");
@import "./styles/variables.css";
@import "./styles/mainPage.css";
@import "./styles/hero.css";
@import "./styles/cases.css";
@import "./styles/header.css";
@import "./styles/nav.css";
@import "./styles/arrow.css";
@import "./styles/play.css";
@import "./styles/footer.css";
@import "./styles/case.css";

@font-face {
  font-family: "DM Sans";
  src: url("./fonts/DMSans[opsz,wght].woff2") format("woff2");
  font-weight: 100 1000;
  font-style: normal;
}

body {
  margin: 0;
  font-family: var(--f-primary);
  font-optical-sizing: auto;
  font-feature-settings: "calt" 1, "liga" 1, "rlig" 1, "rvrn" 1, "kern" 1, "rclt" 1, "ss04" 1, "ss01" 1, "ss07" 1, "ss05" 1;
  -webkit-font-smoothing: antialiased;
}

html,
body {
  height: 100%;
  color: var(--c-content);
}

canvas {
  display: block;
}

.my-text {
	font-feature-settings: "calt" 1, "liga" 1, "rlig" 1, "rvrn" 1, "kern" 1, "rclt" 1, "ss04" 1, "ss01" 1, "ss07" 1, "ss05" 1;
	font-variation-settings: "opsz" 9, "wght" 400;
}