.movie .--intro {
    position: relative;
    margin-top: clamp(40px, 11lvh, 150px);
    margin-bottom: clamp(40px, 11lvh, 150px);
}

.movie .--intro img,
.movie .--intro video {
    width: 100%;
    display: block;
    object-fit: contain;
    position: relative;
}

.movie .--intro__tv {
    width: 92%;
}

.movie .--intro__remote {
    position: absolute;
    bottom: -5%;
    right: 0;
    width: 15.8%;
}

.movie .--intro video {
    mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="1681" height="1090" viewBox="0 0 1681 1090" fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M0 0H1681V970H1590.5C1600.39 970.86 1625.23 1024.38 1645.84 1068.77C1648 1073.43 1650.12 1077.99 1652.16 1082.38C1653.71 1085.7 1651.29 1089.5 1647.62 1089.5H1628C1623.41 1089.5 1619.23 1086.89 1617.21 1082.77C1601.29 1050.13 1580.26 1007.12 1570 989C1566.32 983.501 1562.99 982.052 1561 981.5C1550.88 978.689 1543.5 992.191 1531.26 1014.6C1525.5 1025.14 1518.67 1037.65 1509.97 1051.36C1506.92 1056.16 1501.59 1059 1495.9 1059H1481.42C1477.62 1059 1475.21 1054.94 1477.01 1051.6C1481.24 1043.79 1485.44 1035.94 1489.52 1028.34C1503.86 1001.56 1516.54 977.897 1522.5 970H157C162.958 977.897 175.636 1001.56 189.985 1028.34L189.992 1028.36C194.061 1035.95 198.264 1043.8 202.486 1051.6C204.291 1054.94 201.878 1059 198.084 1059H183.6C177.915 1059 172.579 1056.16 169.533 1051.36C160.831 1037.65 153.997 1025.14 148.239 1014.6L148.239 1014.6C135.997 992.191 128.621 978.689 118.5 981.5C116.513 982.052 113.18 983.501 109.5 989C99.2367 1007.12 78.2145 1050.13 62.2862 1082.77C60.2745 1086.89 56.091 1089.5 51.5046 1089.5H33.4542C29.0562 1089.5 26.1477 1084.93 28.0058 1080.94C29.8352 1077.02 31.7169 1072.96 33.6353 1068.83L33.6628 1068.77C54.2715 1024.37 79.1126 970.86 89 970H0V0Z" fill="black"/></svg>');
    mask-size: contain;
    mask-position: center;
    mask-repeat: no-repeat;
}

/* Before/After /////////////////////*/

.movie .--compare__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 24px;
}

/* Details /////////////////////*/

.movie .--details {
    --ratio: 0.45;
    --p: 8px;
    --r: 20px;
    position: relative;
}

.movie .--details__item {
    width: 100%;
    max-width: calc(100% - ((100% - var(--w-m)) * 0.5));
}

.movie .--details__item:nth-child(1) {
    position: relative;
    margin-left: max(0px, calc((100% - var(--w-m)) * 0.5));
    padding-bottom: calc((100% - ((100% - var(--w-m)) * 0.5)) * var(--ratio));
    z-index: 2;
}

.movie .--details__item img {
    border-radius: var(--r);
    padding: var(--p);
    box-sizing: border-box;
    background-color: 
        color-mix(in srgb, var(--c-glass) 18%, transparent);
    backdrop-filter: blur(16px);
    will-change: transform;
    box-shadow: 
        inset 0 0 0 1px color-mix(in srgb, var(--c-light) 9%, transparent),
        inset 0.3px 1px 0px 0px color-mix(in srgb, var(--c-light) 20%, transparent), 
        inset -0.3px -1px 5px 0px color-mix(in srgb, var(--c-dark) 18%, transparent), 
        0px 1px 5px 0px color-mix(in srgb, var(--c-dark) 12%, transparent), 
        0px 6px 16px 0px color-mix(in srgb, var(--c-dark) 10%, transparent),

        0px 60px 58px 0px color-mix(in srgb, var(--c-dark) 28%, transparent), 
        0px 21px 21px 0px color-mix(in srgb, var(--c-dark) 19%, transparent), 
        0px 10px 10px 0px color-mix(in srgb, var(--c-dark) 16%, transparent), 
        0px 5px 5px 0px color-mix(in srgb, var(--c-dark) 12%, transparent),
        0px 2px 2px 0px color-mix(in srgb, var(--c-dark) 9%, transparent);
}

.movie .--details__item:nth-child(2) {
    position: absolute;
    top: 27%;
    left: 0;
    z-index: 1;
}

.movie .--details__item:nth-child(3) {
    position: absolute;
    bottom: 0;
    left: 50%;
    translate: -50%;
    z-index: 0;
}

.movie .--details__item:nth-child(2):after,
.movie .--details__item:nth-child(3):after {
    content: '';
    position: absolute;
    width: 100%;
    height: 65%;
    top: 0;
    left: 0;
    background: 
        linear-gradient(to bottom, 
            color-mix(in srgb, var(--case-bg-color), transparent 0%) 15.12%, 
            color-mix(in srgb, var(--case-bg-color), transparent 1%) 15.78%, 
            color-mix(in srgb, var(--case-bg-color), transparent 2%) 16.98%, 
            color-mix(in srgb, var(--case-bg-color), transparent 3%) 18.79%, 
            color-mix(in srgb, var(--case-bg-color), transparent 5%) 21.28%, 
            color-mix(in srgb, var(--case-bg-color), transparent 7%) 24.53%, 
            color-mix(in srgb, var(--case-bg-color), transparent 11%) 28.61%, 
            color-mix(in srgb, var(--case-bg-color), transparent 16%) 33.59%, 
            color-mix(in srgb, var(--case-bg-color), transparent 22%) 39.55%, 
            color-mix(in srgb, var(--case-bg-color), transparent 30%) 46.56%, 
            color-mix(in srgb, var(--case-bg-color), transparent 40%) 54.7%, 
            color-mix(in srgb, var(--case-bg-color), transparent 51%) 64.04%, 
            color-mix(in srgb, var(--case-bg-color), transparent 65%) 74.65%, 
            color-mix(in srgb, var(--case-bg-color), transparent 81%) 86.62%,
            color-mix(in srgb, var(--case-bg-color), transparent 100%) 100%
            ),
        linear-gradient(to bottom, 
            color-mix(in srgb, var(--case-bg-color), transparent 0%) 0%, 
            color-mix(in srgb, var(--case-bg-color), transparent 100%) 80%
        );
}






/* //////////////////////////////////////
/////////////////////////////////////////
// Media queries ///////////////////// */

@media (max-width: 500px) {
    .movie .--intro {
        width: calc(94vw);
        margin-inline: calc((94vw - 100%) / -2);
    }

    .movie .--intro__tv {
        width: 100%;
    }

    .movie .--intro__remote {
        right: -2vw;
    }


    .movie .--yatv,
    .movie .--old,
    .movie .--buttons,
    .movie .--navigator {
        margin: 0 calc(var(--min-padding) * -1);
    }

    .movie .--yatv img,
    .movie .--old img,
    .movie .--buttons img,
    .movie .--navigator video {
        border-radius: 0;
    }




    .movie .--compare {
        overflow-x: scroll;
        margin: 0 calc(var(--min-padding) * -1);
        scrollbar-width: none;
        -ms-overflow-style: none;
    }
    
    .movie .--compare::-webkit-scrollbar {
        display: none;
    }

    .movie .--compare__container {
        width: 170%;
        gap: 16px;
        padding: 0 var(--min-padding);
    }

    .movie .--details {
        --ratio: 0.33;
        --p: 4px;
        --r: 10px;
    }
}