.canvas {
    user-select: none;
}


.canvas__container {
    --dots-color: color-mix(in srgb, var(--c-light) 20%, var(--c-action));
    min-width: 3000px;
    width: 200vw;
    aspect-ratio: 3 / 4;
    position: absolute;
    left: 50%;
    top: 50%;
    flex-wrap: wrap;
    align-content: flex-start;
    transform: translate(-50%, -40%);
    transition: transform 0.1s ease-out;
    padding: 40px;
    box-sizing: border-box;
    background-image: 
        radial-gradient(color-mix(in srgb, var(--dots-color) 20%, transparent) 5%, transparent 5%);
    background-size: 30px 30px;
    background-repeat: repeat;
}

.lightbox-move-layer {
    position: fixed;
    z-index: 9999;
    transition: all 0.35s ease;
    will-change: transform, top, left, width, height;
    pointer-events: none;
    border-radius: var(--radius-s);
}

.lightbox__backdrop {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.5);
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 9998;
    pointer-events: none;
}
.lightbox__backdrop.active {
    opacity: 1;
    pointer-events: auto;
}
