.case {
    --w-s: 620px;
    --w-m: 880px;
    --w-l: 1280px;

    --fz: clamp(16px, 1.3vw, 20px);

    --radius-s: min(0.6em, 1.5vw);
    --radius-m: min(1.2em, 3vw);
    --min-padding: 32px;
    
    background-color: var(--case-bg-color);
    overflow-x: hidden;
    transition: background-color 500ms;
    font-size: var(--fz);
}

.case__body {
    max-width: var(--w-l);
    margin: 0 auto;
    padding: 0 max(var(--min-padding), 5vw) 10dvh;
}

.case__summary {
    max-width: var(--w-s);
    margin: 0 auto;
}

.case__text-box {
    max-width: var(--w-s);
    margin: 80px auto 80px;
}

.case__h2 {
    margin: 80px auto 32px;
    font-family: var(--f-display);
    font-size: clamp(32px, 4vw, 48px);
}

.case__text {
    margin: 0 auto 0.8em;
    font-size: var(--fz);
    line-height: 150%;
}

.case__text a {
    color: currentColor;
    text-decoration-thickness: 0.05em;
    text-underline-position: under;
    text-decoration-color: color-mix(in srgb, currentColor, transparent 70%);
    transition: all 160ms;
}

.case__text a:hover {
    color: var(--c-action);
}

.case__text-list {
    font-size: var(--fz);
    line-height: 150%;
    padding-left: 0.6ch;
    width: 90%;
}

.case__text,
.case__text-list {
    color: color-mix(in srgb, var(--c-content) 80%, transparent);
}

.case__text-list li {
    margin-bottom: 0.8em;
    padding-inline-start: 1.8ch;
}

.case__text-list li::marker {
    content: '✦';
    font-size: 0.8em;
    color: color-mix(in srgb, currentColor, transparent 60%);
}

.case__container_s {
    max-width: var(--w-s);
    margin: 0 auto;
}

.case__container_m {
    max-width: var(--w-m);
    margin: 0 auto;
}

.case__container_l {
    max-width: var(--w-l);
    margin: 0 auto;
}

.case__pic {
    display: block;
    width: 100%;
    object-fit: contain;
    position: relative;
}

.case__pic_rounded {
    border-radius: var(--radius-m);
}

.case__pic_rounded_s {
    border-radius: var(--radius-s);
}

.case__caption {
    margin-top: 32px;
    padding: 0 24px;
    font-size: calc(var(--fz) * 0.8);
    font-style: italic;
    text-align: center;
    opacity: 0.6;
}

h1[id], h2[id], h3[id] {
    scroll-margin-top: 120px; 
}