.case {
    --w-s: 620px;
    --w-m: 880px;
    --w-l: 1280px;

    --fz: clamp(16px, 1.5vw, 20px);

    --radius-s: min(0.6em, 1.5vw);
    --radius-m: min(1.2em, 3vw);
    --min-padding: 32px;
    
    background-color: var(--case-bg-color);
    overflow-x: hidden;
    transition: background-color 500ms;
    font-size: var(--fz);
}

.case__body {
    width: 100%;
    box-sizing: border-box;
    max-width: var(--w-l);
    margin: 0 auto;
    padding: 0 max(var(--min-padding), 5vw) 10lvh;
}

.case__summary {
    max-width: var(--w-s);
    margin: 0 auto;
}

.case__text-box {
    max-width: var(--w-s);
    margin: 80px auto 80px;
}

.case__h2 {
    margin: 120px auto 32px;
    font-family: var(--f-display);
    font-size: clamp(32px, 4vw, 48px);
}

.case__h2:has(+ .case__subtitle) {
    margin-bottom: 0;
}

.case__subtitle {
    margin: 0.8em 0 32px;
    font-size: calc(var(--fz) * 0.8);
    line-height: 150%;
    opacity: 0.6;
}

.case__text {
    margin: 0 auto 0.85em;
    font-size: var(--fz);
    line-height: 160%;
}

.case__text a {
    color: currentColor;
    text-decoration-thickness: 0.05em;
    text-underline-position: under;
    text-decoration-color: color-mix(in srgb, currentColor, transparent 70%);
    transition: all 160ms;
}

.case__text a:hover {
    color: var(--c-action);
}

.case__text-list {
    font-size: var(--fz);
    line-height: 160%;
    padding-left: 0.6ch;
    width: 90%;
}

.case__text,
.case__text-list {
    color: color-mix(in srgb, var(--c-content) 80%, transparent);
}

.case__text-list li {
    margin-bottom: 0.8em;
    padding-inline-start: 1.8ch;
}

.case__text-list li::marker {
    content: '✦';
    font-size: 0.8em;
    color: color-mix(in srgb, currentColor, transparent 60%);
}

.case__container_s {
    max-width: var(--w-s);
    margin: 0 auto;
}

.case__container_m {
    max-width: var(--w-m);
    margin: 0 auto;
}

.case__container_l {
    max-width: var(--w-l);
    margin: 0 auto;
}

.case__pic {
    display: block;
    width: 100%;
    object-fit: contain;
    position: relative;
}

.case__pic_rounded {
    border-radius: var(--radius-m);
}

.case__pic_rounded_s {
    border-radius: var(--radius-s);
}

.case__caption {
    margin-top: 32px;
    padding: 0 24px;
    font-size: calc(var(--fz) * 0.8);
    font-style: italic;
    text-align: center;
    opacity: 0.6;
}

.case__quote {
    position: relative;
    font-size: calc(var(--fz) * 1.6);
    font-family: var(--f-display);
    font-weight: bold;
    padding-left: min(2em, 10vw);
}

.case__quote::before {
    content: '';
    position: absolute;
    left: -0.8em;
    background: currentColor;
    mask: 
        url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 65 51"><path fill="url(%23a)" d="M1.181 51 0 48.487c9.008-4.878 16.392-12.122 16.392-19.809 0-5.913-2.544-10.939-11.485-15.443C7.337 5.174 15.211 0 23.777 0c8.86 0 13.29 5.322 13.29 14.34 0 16.26-16.392 27.643-35.886 36.66Zm27.933 0-1.181-2.513c9.008-4.878 16.392-12.122 16.392-19.809 0-5.913-2.544-10.939-11.485-15.443C36.27 5.174 43.143 0 51.709 0 60.569 0 65 5.322 65 14.34 65 30.6 48.608 41.982 29.114 51Z"/><defs><linearGradient id="a" x1="50" x2="9" y1="5" y2="70" gradientUnits="userSpaceOnUse"><stop stop-color="black"/><stop offset="1" stop-color="transparent"/></linearGradient></defs></svg>');
    width: min(2.4em, 12vw);
    aspect-ratio: 1;
    mask-repeat: no-repeat;
    opacity: 0.8;
}

h1[id], h2[id], h3[id] {
    scroll-margin-top: 120px; 
}