.main {
    --cc-bg-hero: #001683;
    --cc-bg-case-1: #00599a;
    --cc-bg-case-2: #20009a;
    --cc-bg-case-3: #351f08;
    --cc-bg-case-4: #2e2615;
    --cc-bg-default: #161E1D;

    --cc-bg: var(--cc-bg-hero);
    
    background-color: var(--cc-bg);
    transition: background-color 500ms;
    display: block;
}

.main__hero {
    height: 95dvh;
}

.main__cases {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 10dvh 0; */
}

.main__play {
    overflow: hidden;
}

@media (max-width: 500px) {
    .main__hero {
        height: 100dvh;
    }
}