.main {
    --cc-bg: var(--cc-bg-hero);
    
    background-color: var(--cc-bg);
    transition: background-color 500ms;
    display: block;
}

.main__hero {
    height: 95lvh;
}

.main__cases {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 10lvh 0; */
}

.main__play {
    overflow: hidden;
}

@media (max-width: 500px) {
    .main__hero {
        height: 100lvh;
    }
}