.main {
    --cc-bg: #001683;
    
    background-color: var(--cc-bg);
    display: block;
}

.main__hero {
    height: 95dvh;
}

.main__cases {
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 10dvh 0; */
}