.switcher {
    position: relative;
    display: flex;
    align-items: center;
    width: fit-content;
    height: 2.6em;
    box-sizing: border-box;
    padding: 0.2em;
    margin: 0 auto;
    border: none;
    border-radius: 99em;
    font-size: var(--fz);
    background-color: color-mix(in srgb, var(--c-glass) 12%, transparent);
    /* backdrop-filter: blur(24px); */
    box-shadow: 
        inset 0 0 0 1px color-mix(in srgb, var(--c-light) 5%, transparent),
        inset 0.3px 1px 0px 0px color-mix(in srgb, var(--c-light) 16%, transparent), 
        inset -0.3px -1px 5px 0px color-mix(in srgb, var(--c-dark) 12%, transparent), 
        0px 1px 5px 0px color-mix(in srgb, var(--c-dark) 12%, transparent), 
        0px 6px 16px 0px color-mix(in srgb, var(--c-dark) 10%, transparent);
}

.switcher__input {
    clip: rect(0 0 0 0);
    clip-path: inset(100%);
    height: 1px;
    width: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
}

.switcher__option {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1.2em;
    min-width: 5em;
    height: 100%;
    box-sizing: border-box;
    border-radius: 99em;
    opacity: 0.6;
    transition: all 160ms;
}

.switcher__option:hover {
    opacity: 1;
    cursor: pointer;
}

.switcher__option:has(input:checked) {
    opacity: 1;
}

.switcher::after {
    content: '';
    position: absolute;
    left: 0.2em;
    top: 0.2em;
    display: block;
    width: calc(50% - 0.2em);
    height: calc(100% - 0.4em);
    border-radius: 99em;
    background-color: color-mix(in srgb, var(--c-glass) 14%, transparent);
    z-index: -1;
    /* transition: translate 200ms; */
}

.switcher:has(input[c-option="1"]:checked)::after {
    translate: 0 0;
    scale: 1 1;
    /* animation: springToggle 150ms ease-in-out both; */
    transform-origin: left;
    transition: translate 160ms ease, scale 185ms linear(0 0%, -36 50%, 1 100%);
}

.switcher:has(input[c-option="2"]:checked)::after {
    translate: 100% 0;
    scale: 1.01 1;
    /* animation: springToggle 150ms ease-in-out both; */
    transform-origin: right;
    transition: translate 160ms ease, scale 185ms linear(0 0%, 36 50%, 1 100%);
}

@keyframes springToggle {
    0%, 100% {
        scale: 1 1;
    }
    50% {
        scale: 1.5 1;
    }
}
