/* COLORS */
:root {
    --c-glass: #bbb;
    --c-light: #fff;
    --c-dark: #000;

    --c-content: #fff;
    --c-action: #33FF30;

    --cc-bg-hero: #001683;
    --cc-bg-case-1: #00599a;
    --cc-bg-case-2: #20009a;
    --cc-bg-case-3: #351f08;
    --cc-bg-case-4: #2e2615;
    --cc-bg-default: #161E1D;
}


/* TYPE */
:root {
    --f-primary: "DM Sans", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --f-display: "swear-display", sans-serif;
    --f-display-alt: "swear-display-cilati", sans-serif;

    --size-s: 16px;
    --size-m: 20px;
}

@media (max-width: 500px) {
    :root {
        --size-s: 14px;
        --size-m: 16px;
    }
}